<?xml version="1.0"?>
<FujicaMvcApiConnectionConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Fujica_appid>fujica_dasdetds3f15det2</Fujica_appid>
  <Fujica_secret>2f463f6f5e264b8abacfad39efc7d782</Fujica_secret>
  <Fujica_privatekey>MIICXQIBAAKBgQDGlx1TPt23C4YBkNQctonOHQ+j8ECU7edaYgbxyC85QZ8sIbzl\n7FArz581Nlyh/qCCbG3vX8XxaDTQ8sQNDsQNci8z6LgurrfE7WT7IIO8YMK9TSci\nMznNonBY55XTcmSIe8iJTXKyCUTctJLrF5HPSIwtG13FKK/ctfbL5yR1RwIDAQAB\nAoGBAKeCb8n4DSyJG8/WShSuJC8ndDnkPZVh1vP2G8V2Bd9V6t1e1+dZHYbW6oQI\nBrrd/KYGr/Rp5J1sOKDHJXeeLN9uHprNd0cZ6y6zKsKgH75K3ljKJSTCzSF29Bph\n7/FZvdoUUHlZmYzMWWW6s9ALAccmoojeO6eGM1cPjYRTU5GBAkEA53fphsumJF3Q\nb4B8H4z1S0/qlYvjilAeotuupAcIy7PgEQ/O91OdZ4wAraHnFnWRm0lVzLvTZmuW\nKaxO3iXsGwJBANujK1rNGICiYWt5GtmusKhlPydaHrAXYXm9CnxqUkZxlbwai3Ye\nA30EIYJ9FJtxXd6QWOWLUY5GgtkuUGz8lkUCQD+DgNnTAbjS4UHnUKfbpudOe4Ej\njIFEcNOhUi+CGqDCr8Yev1zQXc2u9fSvC1j3U8f3fIqcM2rUNLUkqdN9NmcCQQCK\no3yCXGPTDqyfwloIfhRUt1Qd6uzkCl4lEgbEcfhtLtVtXvQZIujgyPK+A2Y2mGDA\nVC1I96ALRsbhgDKUGPxhAkBs4kJCv9pME4/upwAMl3RlEEYCXF7v+bITEeVZdQIy\n/cgmwcPAthUR4n9KR0FFNeExh1dk6NiA+oho/wO6Fqkt</Fujica_privatekey>
  <Fujica_url>http://localhost:45852/api/</Fujica_url>
  <!--<Fujica_url>http://192.168.15.136:8020/api/</Fujica_url>--> 
</FujicaMvcApiConnectionConfigInfo>