<?xml version="1.0"?>
<StandardApiConnectionConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Fujica_appid>fujica_9e739305e9e4272c</Fujica_appid>
  <Fujica_secret>837d0838c41a44ff8a9d080fbb731baa</Fujica_secret>
  <Fujica_privatekey>MIICXgIBAAKBgQC+zmmTNMgDkeLpjV34Vwew+AFlbAEqkjGk1b8RlWu2l2EAcfEP5XWt7XBdVgvoKQHnHGf54IZdK8PI86/+IHuzk9FnlNFwMLtJB46MQNyLs3oJegUx7pQRmpHkDcwb1lYIUXBLLiIir0xUHYcUcH5ng3NoFLUfmr4MMGkjH07vvwIDAQABAoGBAIhruk42mZ77yloj6gDp8KTV3OGv4/GVDwuEi5S92YJ2HzObQ7iS3Z2aOxFwuRinYSXlSG3+2vJ4nQXrPXSbsvTI7+1f3mipFQPtssNXb2E5Jf00Qghp3XJsc2uOGcxancgG+1nAlH16mj1o/I+kJAN7LpJHjxNPUwOFLN2kn98hAkEA4OBnq3e+YDKU2lPMSlksVcYAaiHPzynigI8SAGI9esH6y+PDbAxb2YTw3MdCOu/8IWT5pWytnF+wHP1OMh5GLwJBANk23UN4iclsIUhwZolSkzSk+IXdP+lIq3MqBUZRl5I9PaficbgTIc/GrWmM5J9ih0A8yTx4nJLMHYpXdEJlG3ECQQCcb5/O6ds3IpjolPj+E7DC7p4lNuZQ0GtwUZcNS0pHlqA4rHarOKHA3TmN7NQHGiHEvXDqAoN30B083X5DYUojAkB4s/YsghT/Kukr2doAwTQv8uRvbs0PE2TCsD0SIFD74LAcVMcgpPELBrpihvqcXyINXjntMpC/OlHICGUAaDLhAkEAt4bjMz2Uhu27NhYXAN1FzRLsXu0JdkQjJx4SOr7qDEhCw5M256VpQ6RSGhHFtig0/5MMFXdlXZj1hhh0PmW7KA==</Fujica_privatekey>
  <Fujica_url>http://api.mops.fujica.com.cn/v2/Api/</Fujica_url>
</StandardApiConnectionConfigInfo>