<?xml version="1.0"?>
<RedisConnectionConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MasterRedisServerIp>r-bp1hhy861k8fy2cx3r.redis.rds.aliyuncs.com</MasterRedisServerIp>
  <MasterRedisServerPort>6379</MasterRedisServerPort>
  <MasterRedisServerPassword>KG(txn(L33*Ya@%vXP5oESr</MasterRedisServerPassword>
  <FollowRedisServerIp>r-bp1hhy861k8fy2cx3r.redis.rds.aliyuncs.com</FollowRedisServerIp>
  <FollowRedisServerPort>6379</FollowRedisServerPort>
  <FollowRedisServerPassword>KG(txn(L33*Ya@%vXP5oESr</FollowRedisServerPassword>
</RedisConnectionConfigInfo>