<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FujicaService.Infrastructure.Core" version="1.2.8" targetFramework="net452" />
  <package id="FujicaService.Module.Entitys" version="1.2.9" targetFramework="net452" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="MessagingToolkit.QRCode" version="1.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NPOI" version="2.1.3.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net452" />
  <package id="Tools" version="1.0.0.0" targetFramework="net452" />
</packages>