
@{
    ViewBag.Title = "车牌修正";
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Modal</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>

    <div>
        <input value="sss" type="button" onclick="btn_add()" />

        
    </div>

    <script src="~/Scripts/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script> 
        //注册新增按钮的事件
        function btn_add() {
            $("#myModalLabel").text("新增");
            $('#myModal').modal();
        } 
        
    </script>
</body>
</html>  