
            @{
                ViewBag.Title = "Index";
                Layout = null;
  
          }
          <link href="/Scripts/static/css/app.css?v='1572576386748'" rel=stylesheet>
          <div id="app"></div>
          <script type=text/javascript src="/Scripts/static/js/manifest.js?v='1572576386748'"></script>
          <script type=text/javascript src="/Scripts/static/js/vendor.js?v='1572576386748'"></script>
          <script type=text/javascript src="/Scripts/static/js/app.js?v='1572576386748'"></script>
      