<?xml version="1.0"?>
<RedisConnectionConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MasterRedisServerIp>127.0.0.1</MasterRedisServerIp>
  <MasterRedisServerPort>6379</MasterRedisServerPort>
  <MasterRedisServerPassword>FUJICA4007004008</MasterRedisServerPassword>
  <FollowRedisServerIp>127.0.0.1</FollowRedisServerIp>
  <FollowRedisServerPort>6379</FollowRedisServerPort>
  <FollowRedisServerPassword>FUJICA4007004008</FollowRedisServerPassword>
</RedisConnectionConfigInfo>