<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--车场管理类数据库-->
    <add name="parklotManager" connectionString="server=192.168.15.115;database=4gcamera;user id=root;password=123456;port=3306;Character Set=utf8;pooling=false;min pool size = 5;max pool size=100" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>  
  <appSettings>
    <!--入场数据执行线程数-->
    <add key="EntryThreadCount" value="1" />
    <!--出场数据执行线程数-->
    <add key="ExitThreadCount" value="1" />
    <!--拦截数据执行线程数-->
    <add key="GateCatchThreadCount" value="1" />
    <!--支付数据执行线程数-->
    <add key="PayDataThreadCount" value="1" />
    <!--心跳数据执行线程数-->
    <add key="HeartBeatThreadCount" value="1" />
    <!--执行间隔时间（毫秒）-->
    <add key="SleepTime" value="500" />
  </appSettings>
  <!--RabbitMQ WCF配置节点 Begin-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="nettcpbinding">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://202.104.117.243:5208/Wcf" binding="netTcpBinding" bindingConfiguration="nettcpbinding" contract="FuJiCaWcfContract.ISendMQMsgAPI" name="FuJiCaWcfContract.ISendMQMsgAPI.nettcp" />
      <!--分发服务地址-->
      <endpoint address="net.tcp://localhost:60000/API" binding="netTcpBinding"
          bindingConfiguration="nettcpbinding" contract="Fujica.com.cn.WCF.DistributeContract.IDistribute"
          name="Fujica.com.cn.WCF.DistributeContract.IDistribute.nettcp" />
    </client>
  </system.serviceModel>
  <!--RabbitMQ WCF配置节点 End-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>